// Colors
$primary: #1890ff;
$white: #fff;
$black: #000;
$footer-bg: #ececec;
$card-border: #b9b9b9;
$placeholder: #828282;
$text-gray: #c4c4c4;
$black83: #838383;
$orange: #fc9403;
$black3a: #3a3a3a;
$green: #019c58;
